{% extends 'base.html.twig' %}

{% block title %}New BreathingExercise{% endblock %}

{% block body %}
    <h1>Create new BreathingExercise</h1>

    {{ include('breathing_exercise/_form.html.twig') }}

    <a href="{{ path('app_breathing_exercise_index') }}">back to list</a>
{% endblock %}
